@page
@model PetAplication.Pages.Facilities.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Facility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Facility.ID" />
            <div class="form-group">
                <label asp-for="Facility.Picture" class="control-label"></label>
                <input asp-for="Facility.Picture" type="text" class="form-control" />
                <span asp-validation-for="Facility.Picture" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Facility.Room" class="control-label"></label>
                <input asp-for="Facility.Room" class="form-control" />
                <span asp-validation-for="Facility.Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.Price" class="control-label"></label>
                <input asp-for="Facility.Price" class="form-control" />
                <span asp-validation-for="Facility.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.AvailableDate" class="control-label"></label>
                <input asp-for="Facility.AvailableDate" class="form-control" />
                <span asp-validation-for="Facility.AvailableDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility.LocationID" class="control-label">Location Name</label>
                <select asp-for="Facility.LocationID" class="form-control" asp-items="ViewBag.LocationID">
                </select>
                <span asp-validation-for="Facility.LocationID" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCategories"
                                               value="@cat.CategoryID"
                                               @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                        @cat.CategoryID @: @cat.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
